.card-box {
    border: 2px solid black;
}

.title-description {
    font-size: 28px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(215, 79, 55, 0.9);
}

.content-description1 {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(215, 79, 55, 0.9);
    padding-bottom: 6px;
}

.content-description {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(215, 79, 55, 0.9);
}